.App {
  padding: 50px 100px;
  text-align: center;
}
.App-title  {
  font-size: 36px;
  line-height: 42px;
  font-family: 'Roboto', sans-serif;
}
.table-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}





